Repository inngest/inngest, changes with the owners that CODEOWNERS names for each.
All owners: @anafilipadealmeida, @amh4r, @djfarrelly, @jacobheric, @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0, @jpwilliams

CODEOWNERS:

# UI
/ui @anafilipadealmeida @amh4r @djfarrelly @jacobheric

# Execution
/pkg/execution @tonyhb @darwin67 @BrunoScheufler @KiKoS0 @jpwilliams
/pkg/execution/state @tonyhb @darwin67 @BrunoScheufler @KiKoS0
/pkg/telemetry @darwin67 @BrunoScheufler
/pkg/run @darwin67 @jpwilliams

Added cta to concurrency tooltip for upgrading (#2638)
  ui/apps/dashboard/src/app/(organization-active)/(dashboard)/env/[environmentSlug]/functions/[slug]/(dashboard)/page.tsx
  ui/packages/components/src/FunctionConfiguration/FunctionConfiguration.tsx
  ui/packages/components/src/Info/Info.tsx
Owners: @anafilipadealmeida, @amh4r, @djfarrelly, @jacobheric

Make using tests.sh for JS SDK and Golang SDK tests easier
  tests.sh
Owners: none

Create new ping command for health checks
  cmd/commands/ping.go
  cmd/commands/root.go
Owners: none

introduce basic Pagination component without ... or resize handling
  ui/packages/components/src/Pagination/Pagination.tsx
  ui/packages/components/src/Pagination/index.ts
Owners: @anafilipadealmeida, @amh4r, @djfarrelly, @jacobheric

add instrument interval override
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

add option to set instrumentation interval
  pkg/execution/state/redis_state/queue.go
  pkg/execution/state/redis_state/queue_processor.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

make variable publicly accessible
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

add condition to make sure it doesn't set invalid values
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

Add tenant instrumentor
  pkg/execution/state/redis_state/queue.go
  pkg/execution/state/redis_state/queue_processor.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

remove dups
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

add different poll ticks for shadown scan and backlog normalization scan
  pkg/execution/state/redis_state/queue.go
  pkg/execution/state/redis_state/queue_processor.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

added json method to serializable request
  pkg/execution/exechttp/serializable_request.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0, @jpwilliams

added json method to serializable request (#2669)
  pkg/execution/exechttp/serializable_request.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0, @jpwilliams

add additional interfaces to QueueManager
  pkg/execution/state/redis_state/backlog.go
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

implement backlog size
  pkg/execution/state/redis_state/backlog.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

handle different body types
  pkg/util/gateway/gateway.go
Owners: none

removed null case
  pkg/util/gateway/gateway.go
Owners: none

add test for backlog size func
  pkg/execution/state/redis_state/backlog_test.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

add backlog iterator with some blocking TODOs
  pkg/execution/state/redis_state/backlog.go
  pkg/execution/state/redis_state/backlog_test.go
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

Return cursor from peek for easier pagination
  pkg/execution/state/redis_state/backlog.go
  pkg/execution/state/redis_state/backlog_test.go
  pkg/execution/state/redis_state/lua/queue/peekOrderedSet.lua
  pkg/execution/state/redis_state/lua/queue/peekOrderedSetUntil.lua
  pkg/execution/state/redis_state/peek.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

Introduce (shadow) partition concurrency index
  pkg/execution/state/redis_state/key_generator.go
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

Move partition pointer into "in progress" set
  pkg/execution/state/redis_state/lua/includes/enqueue_to_partition.lua
  pkg/execution/state/redis_state/lua/queue/dequeue.lua
  pkg/execution/state/redis_state/lua/queue/enqueue.lua
  pkg/execution/state/redis_state/lua/queue/partitionLease.lua
  pkg/execution/state/redis_state/lua/queue/partitionRequeue.lua
  pkg/execution/state/redis_state/lua/queue/requeue.lua
  pkg/execution/state/redis_state/lua/queue/requeueByID.lua
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

Update queue.go
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

scavenge expired partitions
  pkg/execution/state/redis_state/debug.go
  pkg/execution/state/redis_state/queue.go
  pkg/execution/state/redis_state/queue_processor.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

add test for partition scavenging
  pkg/execution/state/redis_state/queue_test.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

Fix lease
  pkg/execution/state/redis_state/lua/queue/dequeue.lua
  pkg/execution/state/redis_state/queue.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

Add a hidden in-memory flag for the dev server
  cmd/commands/dev.go
  cmd/commands/internal/localconfig/devconfig.go
Owners: none

Add a hidden in-memory flag for the dev server (#2672)
  cmd/commands/dev.go
  cmd/commands/internal/localconfig/devconfig.go
Owners: none

Add test for singular GetEvent, copied from monorepo
  tests/client/event.go
  tests/golang/event_test.go
Owners: none

Add singular EventV2 resolver
  pkg/coreapi/generated/generated.go
  pkg/coreapi/gql.query.graphql
  pkg/coreapi/graph/resolvers/event_v2.go
Owners: none

Prime dataloader from EventsV2 query
  pkg/coreapi/graph/resolvers/events_v2.go
Owners: none

Use dataloader for singular Event so we don't refetch just for Raw
  pkg/coreapi/graph/loaders/event.go
  pkg/coreapi/graph/loaders/loader.go
  pkg/coreapi/graph/resolvers/event_v2.go
Owners: none

Implement EventV2 resolver, share marshalling code with EventsV2
  pkg/coreapi/graph/resolvers/event_v2.go
  pkg/coreapi/graph/resolvers/events_v2.go
  tests/golang/event_test.go
Owners: none

Implement single EventV2 resolver with EventV2 data loader (#2670)
  pkg/coreapi/generated/generated.go
  pkg/coreapi/gql.query.graphql
  pkg/coreapi/graph/loaders/event.go
  pkg/coreapi/graph/loaders/loader.go
  pkg/coreapi/graph/resolvers/event_v2.go
  pkg/coreapi/graph/resolvers/events_v2.go
  tests/client/event.go
  tests/golang/event_test.go
Owners: none

Fix scavenging
  pkg/execution/state/redis_state/queue.go
  pkg/execution/state/redis_state/queue_test.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

Update queue_test.go
  pkg/execution/state/redis_state/queue_test.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

Handle different body types in SerializableRequest (#2671)
  pkg/util/gateway/gateway.go
Owners: none

update Pagination.tsx to better support design requirements
  ui/packages/components/src/Pagination/Pagination.tsx
Owners: @anafilipadealmeida, @amh4r, @djfarrelly, @jacobheric

implement backlog size
  pkg/execution/state/redis_state/backlog.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0

add different poll ticks for shadown scan and backlog normalization scan
  pkg/execution/state/redis_state/queue.go
  pkg/execution/state/redis_state/queue_processor.go
Owners: @tonyhb, @darwin67, @BrunoScheufler, @KiKoS0
